@import-normalize;

/* <ОБОЛОЧКА>=================================================== */
body {
	background-color: #e5e5e5;
	color: #5b5b5b;
	font-size: 18px;
	font-family: "Montserrat-Regular";
}
.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	&__content {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
/* </ОБОЛОЧКА>=================================================== */

/* <ОСНОВНАЯ СЕТКА>============================================= */
._container {
	max-width: 570px;
	margin: 0 auto;
	width: 100%;
	padding: 0px 10px;
}
/* </ОСНОВНАЯ СЕТКА>============================================= */

/* <ОСНОВНОЙ БЛОК>============================================== */

/* </ОСНОВНОЙ БЛОК>============================================== */
